* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #3607f4, #99ff00)
}

h1{
  font-family: "Trebuchet MS", sans-serif;
  font-size: 3em;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.calculator-grid{
  display: grid;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px,auto) repeat(5,100px);
}

.calculator-grid > button{
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  border: 1px solid rgb(24, 23, 23,.4);
  background-color: rgba(255,255,255,.5);
}

.calculator-grid > button:hover {
  background-color: rgba(255,255,255,.9);
}

.output-screen{
  grid-column: 1 / -1;
  border: 1px solid rgb(114, 114, 233);
  background-color: rgb(3, 3, 64);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-end;
  word-break: break-all;
  padding: 0.8rem;
}

.output-screen .current-screen{
  color: white;
  font-size: 2.5rem;
}

.output-screen .previous-screen{
  color: rgba(255,255,255,.75);
  font-size: 1.5rem;
}

.span-two {
  grid-column: span 2 ;
}
